# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-ctrl-w 0': 'wrapperizer:wrap0'
  'alt-ctrl-w 1': 'wrapperizer:wrap1'
  'alt-ctrl-w 2': 'wrapperizer:wrap2'
  'alt-ctrl-w 3': 'wrapperizer:wrap3'
  'alt-ctrl-w 4': 'wrapperizer:wrap4'
  'alt-ctrl-w 5': 'wrapperizer:wrap5'
  'alt-ctrl-w 6': 'wrapperizer:wrap6'
  'alt-ctrl-w 7': 'wrapperizer:wrap7'
  'alt-ctrl-w 8': 'wrapperizer:wrap8'
  'alt-ctrl-w 9': 'wrapperizer:wrap9'
  'alt-ctrl-w a': 'wrapperizer:wrapA'
  'alt-ctrl-w b': 'wrapperizer:wrapB'
  'alt-ctrl-w c': 'wrapperizer:wrapC'
  'alt-ctrl-w d': 'wrapperizer:wrapD'
  'alt-ctrl-w e': 'wrapperizer:wrapE'
  'alt-ctrl-w f': 'wrapperizer:wrapF'
  'alt-ctrl-w g': 'wrapperizer:wrapG'
  'alt-ctrl-w h': 'wrapperizer:wrapH'
  'alt-ctrl-w i': 'wrapperizer:wrapI'
  'alt-ctrl-w j': 'wrapperizer:wrapJ'
  'alt-ctrl-w k': 'wrapperizer:wrapK'
  'alt-ctrl-w l': 'wrapperizer:wrapL'
  'alt-ctrl-w m': 'wrapperizer:wrapM'
  'alt-ctrl-w n': 'wrapperizer:wrapN'
  'alt-ctrl-w o': 'wrapperizer:wrapO'
  'alt-ctrl-w p': 'wrapperizer:wrapP'
  'alt-ctrl-w q': 'wrapperizer:wrapQ'
  'alt-ctrl-w r': 'wrapperizer:wrapR'
  'alt-ctrl-w s': 'wrapperizer:wrapS'
  'alt-ctrl-w t': 'wrapperizer:wrapT'
  'alt-ctrl-w u': 'wrapperizer:wrapU'
  'alt-ctrl-w v': 'wrapperizer:wrapV'
  'alt-ctrl-w w': 'wrapperizer:wrapW'
  'alt-ctrl-w x': 'wrapperizer:wrapX'
  'alt-ctrl-w y': 'wrapperizer:wrapY'
  'alt-ctrl-w z': 'wrapperizer:wrapZ'
