# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-ctrl-w 0': 'wrapperizer:wrap0'
  'alt-ctrl-w 1': 'wrapperizer:wrap1'
  'alt-ctrl-w 2': 'wrapperizer:wrap2'
  'alt-ctrl-w 3': 'wrapperizer:wrap3'
  'alt-ctrl-w 4': 'wrapperizer:wrap4'
  'alt-ctrl-w 5': 'wrapperizer:wrap5'
  'alt-ctrl-w 6': 'wrapperizer:wrap6'
  'alt-ctrl-w 7': 'wrapperizer:wrap7'
  'alt-ctrl-w 8': 'wrapperizer:wrap8'
  'alt-ctrl-w 9': 'wrapperizer:wrap9'
  'alt-ctrl-w A': 'wrapperizer:wrapA'
  'alt-ctrl-w B': 'wrapperizer:wrapB'
  'alt-ctrl-w C': 'wrapperizer:wrapC'
  'alt-ctrl-w D': 'wrapperizer:wrapD'
  'alt-ctrl-w E': 'wrapperizer:wrapE'
  'alt-ctrl-w F': 'wrapperizer:wrapF'
  'alt-ctrl-w G': 'wrapperizer:wrapG'
  'alt-ctrl-w H': 'wrapperizer:wrapH'
  'alt-ctrl-w I': 'wrapperizer:wrapI'
  'alt-ctrl-w J': 'wrapperizer:wrapJ'
  'alt-ctrl-w K': 'wrapperizer:wrapK'
  'alt-ctrl-w L': 'wrapperizer:wrapL'
  'alt-ctrl-w M': 'wrapperizer:wrapM'
  'alt-ctrl-w N': 'wrapperizer:wrapN'
  'alt-ctrl-w O': 'wrapperizer:wrapO'
  'alt-ctrl-w P': 'wrapperizer:wrapP'
  'alt-ctrl-w Q': 'wrapperizer:wrapQ'
  'alt-ctrl-w R': 'wrapperizer:wrapR'
  'alt-ctrl-w S': 'wrapperizer:wrapS'
  'alt-ctrl-w T': 'wrapperizer:wrapT'
  'alt-ctrl-w U': 'wrapperizer:wrapU'
  'alt-ctrl-w V': 'wrapperizer:wrapV'
  'alt-ctrl-w W': 'wrapperizer:wrapW'
  'alt-ctrl-w X': 'wrapperizer:wrapX'
  'alt-ctrl-w Y': 'wrapperizer:wrapY'
  'alt-ctrl-w Z': 'wrapperizer:wrapZ'
